In [1]:
import pandas as pd

In [8]:
# The data file to read
data_file = 'cleaned-data-final.csv'
# The number of runs in the file
nruns = 160
# The number of runs per condition
nruns_per_condition = 40

# The script is not exactly generic over the number of report variables used
# In our case, it was 5; this is why you see the number 5 sprinkled throughout the code

In [9]:
df = pd.read_csv(data_file, delimiter=';', low_memory=False)

In [10]:
# Remove the label column
df = df.iloc[:, 1:]
# Spread the run variables to all the columns where it applies
# (it turns out this was not necessary for the data layout I ended
# up using, but I'm keeping it because it can be helpful when
# inspecting the data)
for i in range(df.shape[1]):
    if i % 5 != 0:
        df.iloc[0, i] = df.iloc[0, i - i % 5]
        df.iloc[1, i] = df.iloc[0, i - i % 5]
        df.iloc[2, i] = df.iloc[0, i - i % 5]

In [11]:
# Make a dataframe indicating the experimental variables for each run
vars = df.iloc[0:3, 0::5]
vars = vars.rename(index={0: 'clusters', 1: 'vision', 2: 'audio-range'})

In [12]:
# Select the output variables we're interested in
# And only capture the last value from the simulation
# (because for these variables the intermediate values are not interesting)
kills = df.iloc[4, 1::5].astype('int32')
lifetime = df.iloc[4, 2::5].astype('float32')
alive = df.iloc[4, 0::5].astype('int32')

In [13]:
# Go through the different experimental conditions
# and print a simple analysis of each
for condition in range(nruns // nruns_per_condition):
    vs = vars.iloc[:, condition]
    ks = kills.iloc[condition::6]
    ls = lifetime.iloc[condition::6]
    als = alive.iloc[condition::6]
    print('Condition nclusters={}, audiorange={}, vision={}'
          .format(vs['clusters'], vs['audio-range'], vs['vision']))
    print('\tMean predator kills: {} ± {}'.format(ks.mean(), ks.std()))
    print('\tMean flock lifetime: {} ± {}'.format(ls.mean(), ls.std()))
    print('\tMean turtles left alive: {} ± {}'.format(als.mean(), als.std()))
    print('')

Condition nclusters=0, audiorange=0, vision=6
	Mean predator kills: 22.25925925925926 ± 7.160750887745871
	Mean flock lifetime: 94.60482025146484 ± 46.5657844543457
	Mean turtles left alive: 34.81481481481482 ± 7.114649226647342

Condition nclusters=10, audiorange=0, vision=6
	Mean predator kills: 21.11111111111111 ± 4.925079720817751
	Mean flock lifetime: 72.12611389160156 ± 24.19805145263672
	Mean turtles left alive: 86.5925925925926 ± 4.6925412113206875

Condition nclusters=0, audiorange=10, vision=6
	Mean predator kills: 23.814814814814813 ± 6.522370009537219
	Mean flock lifetime: 79.69609832763672 ± 23.707740783691406
	Mean turtles left alive: 33.370370370370374 ± 6.540690084435035

Condition nclusters=10, audiorange=10, vision=6
	Mean predator kills: 22.22222222222222 ± 5.056095584945221
	Mean flock lifetime: 55.952728271484375 ± 25.921131134033203
	Mean turtles left alive: 85.5925925925926 ± 4.963398798739392

In [53]:
df

,1,1.1,1.2,1.3,1.4,2,2.1,2.2,2.3,2.4,...,159,159.1,159.2,159.3,159.4,160,160.1,160.2,160.3,160.4
0,0,0,0,0,0,10,10,10,10,10,...,0,0,0,0,0,10,10,10,10,10
1,6,0,0,0,0,6,10,10,10,10,...,6,0,0,0,0,6,10,10,10,10
2,0,0,0,0,0,0,10,10,10,10,...,10,0,0,0,0,10,10,10,10,10
3,count turtles,predator-kill-number,average-flock-lifetime,max flock-lifetime-counter,largest-flock-size,count turtles,predator-kill-number,average-flock-lifetime,max flock-lifetime-counter,largest-flock-size,...,count turtles,predator-kill-number,average-flock-lifetime,max flock-lifetime-counter,largest-flock-size,count turtles,predator-kill-number,average-flock-lifetime,max flock-lifetime-counter,largest-flock-size
4,35,21,116.04918032786885,1692,29,84,24,80.875,3009,13,...,29,29,61.396694214876035,1670,13,91,17,33.73372781065089,847,14